.NavBar{
    background-color: rgb(69, 102, 209);
    width: 100%;
    /* color: white; */
    height: 8vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    position: fixed;

}

.home{
    margin-top: 0.5%;
    color: white;
    font-size: 1.5vw;
    margin-right: 1%;
    text-decoration: none;
    width: 10%;
    text-align: center;
    border: 1px solid white;

    background-color: rgba(255, 166, 0, 0.84);
    padding: 0.5vw ;
    border-radius: 10px;
    color: white;
    text-shadow: 1px 1px rgba(0, 98, 255, 0.532);
    font-weight: bold;


}

.home:hover{
    transform: scale(1.1);
    border: 2px solid white;
}
