.RegName {
    height: 4.5vh;
    width: 18vw;
    margin-top: 4vh;
    font-size: 55%;
    padding: 2%;
    background-color: rgba(22, 157, 225, 0.247);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    font-weight: bold;
    border: white solid;
} 

.RegPassword {
    height: 4.5vh;
    width: 18vw;
    margin-top: 4vh;
    font-size: 55%;
    padding: 2%;
    background-color: rgba(22, 157, 225, 0.247);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    font-weight: bold;
    border: white solid;
}

.RegEmail {
    height: 4.5vh;
    width: 18vw;
    padding: 2%;
    font-size: 55%;
    background-color: rgba(22, 157, 225, 0.247);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    font-weight: bold;
    border: white solid;
}

.RegCity {
    height: 4.5vh;
    width: 18vw;
    padding: 2%;
    font-size: 55%;
    background-color: rgba(22, 157, 225, 0.247);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    font-weight: bold;
    border: white solid;
}

.RegisterButton {
    margin-top: 5vh;
    padding: 1vh 4vh 1vh 4vh;
    width: 20vw;
    font-size: 60%;
    cursor: pointer;
    color: white;
    font-weight: 700;
    border: rgba(72, 183, 231, 0.591) solid;
    border-radius: 118px;
    background-color: rgb(61, 154, 246);
    box-shadow: 4px 8px 16px rgba(72, 183, 231, 0.591);
}



input::placeholder {
    color: rgb(255, 255, 255);
    font-weight: bold;

}


.Registerform {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1vh;

}

input:focus {
    background-color: rgba(13, 119, 165, 0.792);
    border-bottom: white 5px solid;
}


.Registerloader{
    background-color: rgba(22, 157, 225, 0.247);
    border-top:  rgb(255, 132, 0) 0.2em solid;
    border-bottom: rgb(255, 132, 0) 0.2em solid;
    border-left: white 0.2em solid;
    border-right: rgb(255, 255, 255) 0.2em solid;
    border-radius: 50%;

    animation: loading 0.5s linear infinite;
    height: 1.1em;
    width: 1.1em;
    display: none;
  
    
  }
  
  @keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
      }
    100% {
      transform: rotate(360deg);

    }
  }
  /* .IncorrectIdPwd{
    padding: 0.5vh 2vh 0.5vh 2vh;
    width: 20vw;
    height: 3vh;
    font-size: 50%;
    text-align: center;
    background-color: rgb(255, 2, 2);

    color: rgb(247, 247, 247);
    font-weight: 700;
    border-radius: 116px;
    box-shadow: 4px 8px 16px rgba(72, 183, 231, 0.591);
    display: none;
} */


.ProfileExists {
  padding: 0.5vh 2vh 0.5vh 2vh;
  width: 20vw;
  height: 3vh;
  font-size: 50%;
  text-align: center;
  background-color: rgb(255, 2, 2);

  color: rgb(247, 247, 247);
  font-weight: 700;
  border-radius: 116px;
  box-shadow: 4px 8px 16px rgba(72, 183, 231, 0.591);
  display: none;
}