# Node.js
node_modules/


# Dependency lock files
package-lock.json
yarn.lock

# Environment variables
.env

# Build artifacts
build/
dist/
out/

# Logs
logs/
*.log

# IDE and editor files
.vscode/
.idea/
*.iml

# macOS specific files
.DS_Store

# Temporary files
*.tmp

# Testing artifacts
coverage/

# Dependency directories
/.pnp/
.pnp.js
